<footer class="footer">
  <div class="general-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ab consequatur autem modi id, consectetur est labore! Itaque quam, consectetur tempore quo est facere officiis amet, placeat doloremque recusandae neque.</div>
  <div class="general-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, qui quibusdam tempora perferendis quos ducimus eveniet numquam voluptas ex accusantium hic tenetur quasi similique cum ut? Quibusdam tempora expedita veniam.</div>
</footer>